---
id: 'root'
---

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Parcel project</title>
    <script src="src/index.js" type="module"></script>
</head>
<body>
    <div id="{{ id }}">---</div>
</body>
</html>