{{#if type='h1'}}
    <h1 class="{{#if isCentered}}-centered{{/if}} {{#if isLight}}-light{{/if}} {{#if isNoMargin}}-no-margin{{/if}}">
{{else}}
    <h2 class="{{#if isCentered}}-centered{{/if}} {{#if isLight}}-light{{/if}} {{#if isNoMargin}}-no-margin{{/if}}">
{{/if}}
    {{> @partial-block }}
{{#if type='h1'}}
    </h1>
{{else}}
    </h2>
{{/if}}