.chat {
  &-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
  }

  &-sidebar {
    flex: 0 0 320px;
    background: #f8fafd;
    overflow: auto;
  }
}
