.profile {
  &-card {
    width: 510px;
  }

  &-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 40px 0 0;

    &-colum {
      display: flex;
      flex-direction: column;
      gap: 20px 0;
    }
  }
}
