
{{#> MainLayout}}
    {{> ProfileAvatar profileAvatar }}

    {{#> Heading heading}}
        {{name}}
    {{/Heading}}

    <div class="profile-card">
        {{#each fields}}
            {{> ProfileRow this}}
        {{/each}}
    </div>

    <div class="profile-nav">
        <div class="profile-nav-colum">
            <a href="/?page=editProfile">Изменить данные</a>
            <a href="/?page=changePassword">Изменить пароль</a>
        </div>
        <div class="profile-nav-colum">
            <a href="/?page=chatList">Вернуться к чатам</a>
            <a href="/" class="-red">Выйти</a>
        </div>
    </div>
{{/MainLayout}}
