{{#* inline "modifiers"}}
    class="{{#if isCentered}}-centered{{/if}} {{#if isLight}}-light{{/if}} {{#if isNoMargin}}-no-margin{{/if}}"
{{/inline}}

{{#if_eq type 'h1'}}
    <h1 {{>modifiers}}>
{{else}}
    <h2 {{>modifiers}}>
{{/if_eq}}
    {{> @partial-block }}
{{#if_eq type 'h1'}}
    </h1>
{{else}}
    </h2>
{{/if_eq}}