.form {
  &-row {
    position: relative;
    margin: 0 0 16px;
  }

  &-note {
    margin: 4px 0 0;
    padding: 0 10px;
    font-size: 11px;
    color: #aaa;

    &.-error {
      color: #f00;
    }
  }

  &-field {
    height: 32px;
    margin: 14px 0 0;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #111;
    background: #f5f9ff;
    border: 0;
    border-radius: 4px;

    &:focus {
      outline: 2px solid #3592ff;
    }

    &.-error {
      background: #fff5f5;
      outline: 2px solid #f00;
    }
  }
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 14px;
  font-size: 14px;
  line-height: 32px;
  transition: all .2s ease;

  .form-field:focus ~ &,
  .form-field:valid ~ & {
    top: -14px;
    font-size: 11px;
    font-weight: 400;
    color: #aaa;
  }
}
